{% extends 'base.html' %}
{% block title %} Login {% endblock %}


{% block content %}

<div class="container">
    <div class="box" >
        <h2 style="text-align: center; color: #555; padding: 20px 10px; background: white; border-radius: 10px;">Password<span style="color: orange;">Reset</span></h2>
        {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg.message}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    
        {% endfor %}
        <form action="" method="POST">
            {% csrf_token %}
           {{form}}
           <div class="center" style="display: flex;align-items: center; justify-content: space-between;">
            <button type="submit" class="btn btn-success">Request password reset</button>
            <a href="{% url 'signin' %}" >Go back and sign in</a>
           </div>
        </form>
    </div>
    <div class="shape"></div>
<div class="shapes"></div>
</div>

{% endblock %}